.Page {
    height: calc(100vh - var(--MainNavHeight) - var(--CopyrightHeight));
    padding: 0 5%;
    overflow: auto;

    & h1 {
        text-align: center;
        padding: 1.5rem 0;
        letter-spacing: .2rem;
    }
    & .link {
        position: relative;
        color: inherit;
        font-size: 2rem;
        text-decoration: none;
        margin: 0 .4rem;
        padding: .2rem .4rem;
        opacity: .5;
        transition: .2s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            pointer-events: none;
            z-index: -1;
            width: 100%;
        }
        &::before {
            height: 100%;
            background-color: var(--col-3rd-1);
            border-top-left-radius: .4rem;
            border-top-right-radius: .4rem;
        }
        &::after {
            bottom: -.2rem;
            height: .2rem;
            background-color: var(--col-1st-10);
        }
        &:hover {
            opacity: .8;
        }
    }
    & .auth-p {
        margin-top: .5rem;
        padding-top: 1rem;
        border-top: .1rem solid var(--col-1st-2);

        &:last-child {
            margin-top: 1.5rem;
        }
    }

    @media only screen and (min-width: 500px) {
        padding: 0 10%;
    }
    @media only screen and (min-width: 900px) {
        padding: 0 20%;
    }
}